{#Twig позволяет по-разному рендерить форму: можно сразу вывести всю форму с помощью такой записи
{{ form(form) }}, однако в этом случае будет сложнее управлять каждым полем отдельно - его стилями или названием.
Поэтому мы используем теги form_start и form_end, между которыми выводим каждое поле в отдельности.
Записи form.title и form.body соответствует реальным полям в нашей таблице и в свойствах нашей сущности.
Также мы добавляем rows и cols для form.body (вы же помните, как мы указали, что это TextareaType?),
чтобы форма не выглядела маленькой. До тегов form_end вы должны не забыть добавить кнопку.
Теперь наша форма и метод-handler, которые её обрабатывает, готовы.
Вы можете перейти по указанному адресу и попробовать написать и сохранить первую запись#}

{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.body, {'attr': {
            'rows': '10',
            'cols': '10' }}) }}
        <button class="btn btn-default" type="submit">Сохранить</button>
    {{ form_end(form) }}
{% endblock %}